
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-app="leaf" ng-controller="detailsCtrl">
    <h2>Details</h2>

    <div id="knockout-container">
        <p><b>Name: </b>{{Name}}</p>
        <p><b>Power: </b>{{Power}}</p>
        <p><b>Energy: </b>{{Energy}}</p>
    </div>

    <highchart id="chart1" config="highchartsNG"></highchart>
</div>


@section scripts
{
      @Scripts.Render("~/bundles/angular")
      @Scripts.Render("~/bundles/highcharts")   
      @Scripts.Render("~/bundles/angular/details")
}