@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Angular - Plants</h2>

<div ng-app="leaf" ng-controller="monitorCtrl">
    
    <ul>
        <li ng-repeat="item in items">
            <span>{{item.Name}}</span>
            <p>{{item.Type}}</p>
        </li>
    </ul>

</div>


@section scripts
{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular/overview")
}
