
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Details</h2>

<div id="knockout-container">
    <p><b>Name: </b><span data-bind="text: Name"></span></p>
    <p><b>Power: </b><span data-bind="text: Power"></span></p>
    <p><b>Energy: </b><span data-bind="text: Energy"></span></p>
</div>

<div id="chart" style="min-width:310px; height:400px; margin:0 auto" >

</div>

@section scripts
{
      @Scripts.Render("~/bundles/knockout")
      @Scripts.Render("~/bundles/highcharts")   
      @Scripts.Render("~/bundles/knockout/details")
}

@section ready
{
      var url='/api/monitor/' + '@Request["id"]' ;
      details.init(url, '#knockout-container');
}